<div class="nested-selects-comp">
    <div class="select" ng-repeat="field in nFields">
        <label>{{field}}</label>
        <select id="{{'select'+fields[$index]+$index}}" ng-change="changeSelects($index)" ng-model="selectedData[fields[$index]]" ng-options="key as key for (key , value) in selectedDataFrom[fields[$index]]">
        </select>
    </div>
</div>
