<div class="read-file-wrapper">
    <loading show="loading"></loading>
    <div class="step s1">
        <!--      Deberia ser un component de seleccion  -->
        <h3>Read file from :</h3>
        <label>
            Disk
        </label>
        <input name="fileFrom" ng-model="data.readFileFrom" value="disk" type="radio" />
        <label>
            Url
        </label>
        <input name="fileFrom" ng-model="data.readFileFrom" type="radio" value="url" />
        <!--      Deberia ser un component de seleccion  -->
        <div class="disk" ng-show="data.readFileFrom == 'disk'">
            <file-read read-success="readSuccess(textData)"></file-read>
        </div>
        <div class="url" ng-show="data.readFileFrom == 'url'">
            <input ng-model="data.readUrl" type="text" />
            <button ng-click="getFile()" ng-disabled="data.readUrl.length < 10"> Read </button>
        </div>
    </div>
    <div class="step s2" ng-show="data.format !== null">
        <h3>Parsed Data  :</h3>
        <div>
            <nested-selects dataobj="data.format" fields="['provincias','departamentos','localidades']"></nested-selects>
        </div>
    </div>
