html,
body,
#root {
    margin: 0;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-weight: 400;
    font-size: 17px;
}

.read-file-wrapper {
    padding: 25px;
    .step {
        border: 1px solid;
        padding: 10px;
        .s1,
        .s2 {
            padding: 15px;
        }
    }
    .disk,
    .url {
        padding: 15px 0;
    }
    .nested-selects-comp {
        .select {
            padding: 10px 0;
            label {
                display: block;
                width: 100px;
            }
            select {
                width: 25%;
                max-width: 150px;
            }
        }
    }
}
